<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562101749816-ruq8p7e3pfqj1sj69mas2imkdp8qvpqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562101749816-ruq8p7e3pfqj1sj69mas2imkdp8qvpqg</string>
	<key>API_KEY</key>
	<string>AIzaSyBFewHkLzxw0or5vO0YcxO7VzjT4msquUc</string>
	<key>GCM_SENDER_ID</key>
	<string>562101749816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vfproj</string>
	<key>PROJECT_ID</key>
	<string>scan-ca7d8</string>
	<key>STORAGE_BUCKET</key>
	<string>scan-ca7d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562101749816:ios:9594aad21587eefb40becd</string>
</dict>
</plist>